<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	

</head>
<body>
	<fieldset>

	<h1>WELCOME HOME <%= uname %></h1>
	
	
       
		<a href="/home/addemployee">Register Employee</a>
		<a href="/home/allemployeelist">Employee List</a><br/><br/>
		<a href="/logout">Logout</a>
 
		</fieldset>
		
		
</body>
</html>
